openapi: 3.0.3
info:
  title: USPTO Bulk Data Storage System (BDSS) Appeals Proceedings API
  version: '1.0'
  description: 'USPTO ODP Bulk Data API. Exposes the Bulk Data Storage System (BDSS) — search and download

    patent and trademark bulk datasets (bibliographic, assignment, classification, office-action

    weekly archives) as Entire Datasets (10-year increments) or Delta Datasets (daily increments)

    in XML/JSON. Does not support general filter/limit/offset/order_by database queries.

    '
  contact:
    name: USPTO API Help
    email: APIhelp@uspto.gov
servers:
- url: https://api.uspto.gov
  description: USPTO Open Data Portal
security:
- ApiKeyAuth: []
tags:
- name: Proceedings
  description: PTAB trial proceedings
paths:
  /api/v1/ptab/proceedings/search:
    get:
      tags:
      - Proceedings
      summary: Search Proceedings
      operationId: searchPtabProceedings
      parameters:
      - name: proceedingNumber
        in: query
        schema:
          type: string
      - name: proceedingTypeCategory
        in: query
        schema:
          type: string
          enum:
          - IPR
          - PGR
          - CBM
          - DER
      - name: proceedingFilingDateFrom
        in: query
        schema:
          type: string
          format: date
      - name: proceedingFilingDateTo
        in: query
        schema:
          type: string
          format: date
      - name: subProceedingTypeCategory
        in: query
        schema:
          type: string
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
          maximum: 100
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProceedingSearchResponse'
  /api/v1/ptab/proceedings/{proceedingNumber}:
    get:
      tags:
      - Proceedings
      summary: Get Proceeding
      operationId: getPtabProceeding
      parameters:
      - name: proceedingNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Proceeding detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proceeding'
components:
  schemas:
    ProceedingSearchResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Proceeding'
    Proceeding:
      type: object
      properties:
        proceedingNumber:
          type: string
        proceedingTypeCategory:
          type: string
        subProceedingTypeCategory:
          type: string
        proceedingFilingDate:
          type: string
          format: date
        proceedingStatusCategory:
          type: string
        respondentPatentNumber:
          type: string
        respondentApplicationNumberText:
          type: string
        petitionerPartyName:
          type: string
        respondentPartyName:
          type: string
        accordedFilingDate:
          type: string
          format: date
        decisionDate:
          type: string
          format: date
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
