openapi: 3.2.0
info:
  title: USPTO Office Action Office Actions API
  version: '3.0'
  description: 'USPTO Office Action API family on the Open Data Portal — 8 endpoints covering Text Retrieval,

    Citations, Rejections, and Enriched Citations. The Enriched Citation API uses machine-learning

    information extraction and entity resolution to normalize patent and non-patent literature

    citations against the application reference list.

    '
  contact:
    name: USPTO API Help
    email: APIhelp@uspto.gov
servers:
- url: https://api.uspto.gov
  description: USPTO Open Data Portal
security:
- ApiKeyAuth: []
tags:
- name: Office Actions
paths:
  /api/v1/oa/text/search:
    get:
      tags:
      - Office Actions
      summary: Search Office Action Text
      operationId: searchOfficeActionText
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: applicationNumberText
        in: query
        schema:
          type: string
      - name: mailDateFrom
        in: query
        schema:
          type: string
          format: date
      - name: mailDateTo
        in: query
        schema:
          type: string
          format: date
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeActionTextSearchResponse'
  /api/v1/oa/text/{officeActionIdentifier}:
    get:
      tags:
      - Office Actions
      summary: Get Office Action Text
      operationId: getOfficeActionText
      parameters:
      - name: officeActionIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Office action text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeActionText'
components:
  schemas:
    OfficeActionText:
      type: object
      properties:
        officeActionIdentifier:
          type: string
        applicationNumberText:
          type: string
        mailDate:
          type: string
          format: date
        officeActionText:
          type: string
        rejections:
          type: array
          items:
            type: object
            properties:
              rejectionBasisCategory:
                type: string
              claimNumbers:
                type: array
                items:
                  type: string
              citedReferences:
                type: array
                items:
                  type: string
    OfficeActionTextSearchResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/OfficeActionText'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
