openapi: 3.0.3
info:
  title: USPTO Bulk Data Storage System (BDSS) Appeals Decisions API
  version: '1.0'
  description: 'USPTO ODP Bulk Data API. Exposes the Bulk Data Storage System (BDSS) — search and download

    patent and trademark bulk datasets (bibliographic, assignment, classification, office-action

    weekly archives) as Entire Datasets (10-year increments) or Delta Datasets (daily increments)

    in XML/JSON. Does not support general filter/limit/offset/order_by database queries.

    '
  contact:
    name: USPTO API Help
    email: APIhelp@uspto.gov
servers:
- url: https://api.uspto.gov
  description: USPTO Open Data Portal
security:
- ApiKeyAuth: []
tags:
- name: Decisions
  description: PTAB decisions
paths:
  /api/v1/ptab/decisions/search:
    get:
      tags:
      - Decisions
      summary: Search Decisions
      operationId: searchPtabDecisions
      parameters:
      - name: proceedingNumber
        in: query
        schema:
          type: string
      - name: decisionTypeCategory
        in: query
        schema:
          type: string
      - name: decisionDateFrom
        in: query
        schema:
          type: string
          format: date
      - name: decisionDateTo
        in: query
        schema:
          type: string
          format: date
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionSearchResponse'
  /api/v1/ptab/decisions/{decisionIdentifier}:
    get:
      tags:
      - Decisions
      summary: Get Decision
      operationId: getPtabDecision
      parameters:
      - name: decisionIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Decision detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision'
components:
  schemas:
    Decision:
      type: object
      properties:
        decisionIdentifier:
          type: string
        proceedingNumber:
          type: string
        decisionTypeCategory:
          type: string
        decisionDate:
          type: string
          format: date
        decisionOutcomeCategory:
          type: string
        authoringAdministrativePatentJudgeName:
          type: string
        documentIdentifier:
          type: string
    DecisionSearchResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Decision'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
