openapi: 3.2.0
info:
  title: USPTO Patent Trial and Appeal Board (PTAB) Decisions API
  version: '3.0'
  description: 'PTAB API v3 hosted on the USPTO Open Data Portal. Search and retrieve PTAB trial proceedings

    (IPR, PGR, CBM, derivation), trial decisions, trial documents, and historical appeal/interference

    decisions. Coverage 1997 to present; full trial decisions and party briefing since September 2012.

    '
  contact:
    name: USPTO API Help
    email: APIhelp@uspto.gov
servers:
- url: https://api.uspto.gov
  description: USPTO Open Data Portal
security:
- ApiKeyAuth: []
tags:
- name: Decisions
  description: PTAB decisions
paths:
  /api/v1/ptab/decisions/search:
    get:
      tags:
      - Decisions
      summary: Search Decisions
      operationId: searchPtabDecisions
      parameters:
      - name: proceedingNumber
        in: query
        schema:
          type: string
      - name: decisionTypeCategory
        in: query
        schema:
          type: string
      - name: decisionDateFrom
        in: query
        schema:
          type: string
          format: date
      - name: decisionDateTo
        in: query
        schema:
          type: string
          format: date
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionSearchResponse'
  /api/v1/ptab/decisions/{decisionIdentifier}:
    get:
      tags:
      - Decisions
      summary: Get Decision
      operationId: getPtabDecision
      parameters:
      - name: decisionIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Decision detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision'
components:
  schemas:
    DecisionSearchResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Decision'
    Decision:
      type: object
      properties:
        decisionIdentifier:
          type: string
        proceedingNumber:
          type: string
        decisionTypeCategory:
          type: string
        decisionDate:
          type: string
          format: date
        decisionOutcomeCategory:
          type: string
        authoringAdministrativePatentJudgeName:
          type: string
        documentIdentifier:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
