openapi: 3.2.0
info:
  title: USPTO Patent File Wrapper Assignments API
  version: '1.0'
  description: 'USPTO Open Data Portal (ODP) Patent File Wrapper API. Search and retrieve U.S. patent

    application file wrappers including bibliographic data, assignment history, prosecution

    documents (office actions, responses, claims, drawings), continuity, foreign priority,

    attorney/agent info, and patent term adjustments. Requires an ODP API key.

    '
  contact:
    name: USPTO API Help
    email: APIhelp@uspto.gov
    url: https://data.uspto.gov/apis/getting-started
  license:
    name: U.S. Government Work
    url: https://www.usa.gov/government-works
servers:
- url: https://api.uspto.gov
  description: USPTO Open Data Portal
security:
- ApiKeyAuth: []
tags:
- name: Assignments
  description: Retrieve assignment records
paths:
  /api/v1/patent/applications/{applicationNumberText}/assignment:
    get:
      tags:
      - Assignments
      summary: Get Patent Assignments
      operationId: getPatentAssignments
      parameters:
      - name: applicationNumberText
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Assignment history for the application.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Assignment'
components:
  schemas:
    Assignment:
      type: object
      properties:
        reelNumber:
          type: string
        frameNumber:
          type: string
        recordedDate:
          type: string
          format: date
        executionDate:
          type: string
          format: date
        conveyanceText:
          type: string
        assignorBag:
          type: array
          items:
            $ref: '#/components/schemas/Party'
        assigneeBag:
          type: array
          items:
            $ref: '#/components/schemas/Party'
    Party:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        nameLineOneText:
          type: string
        country:
          type: string
        cityName:
          type: string
        geographicRegionName:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
