openapi: 3.2.0
info:
  title: USPTO Office Action Citations API
  version: '3.0'
  description: 'USPTO Office Action API family on the Open Data Portal — 8 endpoints covering Text Retrieval,

    Citations, Rejections, and Enriched Citations. The Enriched Citation API uses machine-learning

    information extraction and entity resolution to normalize patent and non-patent literature

    citations against the application reference list.

    '
  contact:
    name: USPTO API Help
    email: APIhelp@uspto.gov
servers:
- url: https://api.uspto.gov
  description: USPTO Open Data Portal
security:
- ApiKeyAuth: []
tags:
- name: Citations
paths:
  /api/v1/oa/citations/search:
    get:
      tags:
      - Citations
      summary: Search Office Action Citations
      operationId: searchOfficeActionCitations
      parameters:
      - name: applicationNumberText
        in: query
        schema:
          type: string
      - name: citedPatentNumber
        in: query
        schema:
          type: string
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Citation results
          content:
            application/json:
              schema:
                type: object
  /api/v1/oa/citations/fields:
    get:
      tags:
      - Citations
      summary: Get Office Action Citation Fields
      operationId: getOfficeActionCitationFields
      responses:
        '200':
          description: Field metadata
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
