openapi: 3.2.0
info:
  title: USPTO Office Action Rejections API
  version: '3.0'
  description: 'USPTO Office Action API family on the Open Data Portal — 8 endpoints covering Text Retrieval,

    Citations, Rejections, and Enriched Citations. The Enriched Citation API uses machine-learning

    information extraction and entity resolution to normalize patent and non-patent literature

    citations against the application reference list.

    '
  contact:
    name: USPTO API Help
    email: APIhelp@uspto.gov
servers:
- url: https://api.uspto.gov
  description: USPTO Open Data Portal
security:
- ApiKeyAuth: []
tags:
- name: Rejections
paths:
  /api/v1/oa/rejections/search:
    get:
      tags:
      - Rejections
      summary: Search Office Action Rejections
      operationId: searchOfficeActionRejections
      parameters:
      - name: applicationNumberText
        in: query
        schema:
          type: string
      - name: rejectionBasisCategory
        in: query
        schema:
          type: string
          enum:
          - '101'
          - '102'
          - '103'
          - '112'
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Rejection results
          content:
            application/json:
              schema:
                type: object
  /api/v1/oa/rejections/fields:
    get:
      tags:
      - Rejections
      summary: Get Office Action Rejection Fields
      operationId: getOfficeActionRejectionFields
      responses:
        '200':
          description: Field metadata
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
