openapi: 3.0.3
info:
  title: USPTO Bulk Data Storage System (BDSS) Appeals Office Actions API
  version: '1.0'
  description: 'USPTO ODP Bulk Data API. Exposes the Bulk Data Storage System (BDSS) — search and download

    patent and trademark bulk datasets (bibliographic, assignment, classification, office-action

    weekly archives) as Entire Datasets (10-year increments) or Delta Datasets (daily increments)

    in XML/JSON. Does not support general filter/limit/offset/order_by database queries.

    '
  contact:
    name: USPTO API Help
    email: APIhelp@uspto.gov
servers:
- url: https://api.uspto.gov
  description: USPTO Open Data Portal
security:
- ApiKeyAuth: []
tags:
- name: Office Actions
paths:
  /api/v1/oa/text/search:
    get:
      tags:
      - Office Actions
      summary: Search Office Action Text
      operationId: searchOfficeActionText
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: applicationNumberText
        in: query
        schema:
          type: string
      - name: mailDateFrom
        in: query
        schema:
          type: string
          format: date
      - name: mailDateTo
        in: query
        schema:
          type: string
          format: date
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeActionTextSearchResponse'
  /api/v1/oa/text/{officeActionIdentifier}:
    get:
      tags:
      - Office Actions
      summary: Get Office Action Text
      operationId: getOfficeActionText
      parameters:
      - name: officeActionIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Office action text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeActionText'
components:
  schemas:
    OfficeActionTextSearchResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/OfficeActionText'
    OfficeActionText:
      type: object
      properties:
        officeActionIdentifier:
          type: string
        applicationNumberText:
          type: string
        mailDate:
          type: string
          format: date
        officeActionText:
          type: string
        rejections:
          type: array
          items:
            type: object
            properties:
              rejectionBasisCategory:
                type: string
              claimNumbers:
                type: array
                items:
                  type: string
              citedReferences:
                type: array
                items:
                  type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
