openapi: 3.0.3
info:
  title: USPTO Bulk Data Storage System (BDSS) Appeals API
  version: '1.0'
  description: 'USPTO ODP Bulk Data API. Exposes the Bulk Data Storage System (BDSS) — search and download

    patent and trademark bulk datasets (bibliographic, assignment, classification, office-action

    weekly archives) as Entire Datasets (10-year increments) or Delta Datasets (daily increments)

    in XML/JSON. Does not support general filter/limit/offset/order_by database queries.

    '
  contact:
    name: USPTO API Help
    email: APIhelp@uspto.gov
servers:
- url: https://api.uspto.gov
  description: USPTO Open Data Portal
security:
- ApiKeyAuth: []
tags:
- name: Appeals
  description: PTAB appeal and interference decisions
paths:
  /api/v1/ptab/appeals/search:
    get:
      tags:
      - Appeals
      summary: Search Appeal Decisions
      operationId: searchPtabAppeals
      parameters:
      - name: applicationNumberText
        in: query
        schema:
          type: string
      - name: decisionDateFrom
        in: query
        schema:
          type: string
          format: date
      - name: decisionDateTo
        in: query
        schema:
          type: string
          format: date
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
  /api/v1/ptab/interferences/search:
    get:
      tags:
      - Appeals
      summary: Search Interference Decisions
      operationId: searchPtabInterferences
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
