openapi: 3.2.0
info:
  title: USPTO Patent Trial and Appeal Board (PTAB) Appeals API
  version: '3.0'
  description: 'PTAB API v3 hosted on the USPTO Open Data Portal. Search and retrieve PTAB trial proceedings

    (IPR, PGR, CBM, derivation), trial decisions, trial documents, and historical appeal/interference

    decisions. Coverage 1997 to present; full trial decisions and party briefing since September 2012.

    '
  contact:
    name: USPTO API Help
    email: APIhelp@uspto.gov
servers:
- url: https://api.uspto.gov
  description: USPTO Open Data Portal
security:
- ApiKeyAuth: []
tags:
- name: Appeals
  description: PTAB appeal and interference decisions
paths:
  /api/v1/ptab/appeals/search:
    get:
      tags:
      - Appeals
      summary: Search Appeal Decisions
      operationId: searchPtabAppeals
      parameters:
      - name: applicationNumberText
        in: query
        schema:
          type: string
      - name: decisionDateFrom
        in: query
        schema:
          type: string
          format: date
      - name: decisionDateTo
        in: query
        schema:
          type: string
          format: date
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
  /api/v1/ptab/interferences/search:
    get:
      tags:
      - Appeals
      summary: Search Interference Decisions
      operationId: searchPtabInterferences
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
